affine==2.4.0
attrs==24.2.0
boto3==1.35.21
botocore==1.35.21
CacheControl==0.14.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
geopandas==1.0.1
idna==3.10
importlib_metadata==8.5.0
iso3166==2.1.1
jmespath==1.0.1
mapbox==0.16.1
mapboxcli==0.8.0
msgpack==1.1.0
numpy==2.0.2
packaging==24.1
pandas==2.2.3
polyline==2.0.2
pyogrio==0.10.0
pyparsing==3.2.0
pyproj==3.6.1
python-dateutil==2.9.0.post0
pytz==2024.2
rasterio==1.4.1
requests==2.32.3
s3transfer==0.10.2
shapely==2.0.6
six==1.16.0
tqdm==4.66.5
tzdata==2024.2
uritemplate==4.1.1
urllib3==1.26.20
zipp==3.20.2
